body {
  background-color: #f1f5f9;
  border-radius: 10px;
}
.wrapper {
  width: 300px;
  text-align: center;
}
.changecolorBtn {
  width: 200px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #facc15;
  cursor: pointer;
}
.colorGrid {
    /* margin-top: 10px; */
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
.selectedColor{
    display: flex;
    align-items: center;
    margin-top: 20px;

}
.colorValue{
    margin-left: 5px;
    font-weight: bold;
}
